html, * {margin: 0px; padding: 0px}
* {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body {max-height: 100vh;height: 100vh; overflow: hidden;}

#container {
    height: 100vh;
}

#top-bar {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;

    background-color: rgb(59, 59, 59);
}

#edit-bar {
    display: flex;
    flex-grow: 1;
}

.top-selection {
    padding: 0px;
    margin: 10px 2px 10px 2px;
    padding: 4px 10px 4px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-decoration: none;
    color: rgb(216, 216, 216);
    border-radius: 5px;
}

.top-selection:hover {
    background-color: rgb(90, 90, 90);
}

.top-selection-img {
    height: 20px;
    width: 20px;
    margin: 7px;
    padding: 5px;
    margin-top: 9px;
    margin-left: 7px;
    border-radius: 5px;
}

.top-selection-img-icons {
    height: 20px;
    width: 20px;
    padding: 3px;
    margin: 0px;
    margin-top: 8px;
}

.search-icon {
    height: 20px;
    width: 20px;
    padding-top: 5px;
    margin-right: 6px;
    margin-left: 11.5vw;
}

.top-selection-img-icons:hover {
    background-color: rgb(90, 90, 90);
}

.top-selection-input {
    height: 32px;
    width: 30vw;
    margin: 5px;
    margin-top: 7px;
    text-align: center;
    color: rgb(180, 180, 180);
    background-color: rgb(75, 75, 75);
    border: 1px solid rgb(108, 108, 108);
    border-radius: 10px;
}

.top-selection-input > p {
    padding-top: 4px;
}

.top-selection-input:hover {
    background-color: rgb(99, 99, 99);
    border: 1px solid rgb(65, 65, 65);
}

#main-content {
    display: flex;
    flex-direction: row;
    height: 96.6vh;

    color: rgb(216, 216, 216);
}

#side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5vw;
    
    background-color: rgb(50, 50, 50);
}

.side-bar-icons-div {
    width: 3.4vw;
    text-align: center;
}

.highlighted {
    border-left: 3px solid white;
}

.side-bar-icons {
    height: 50px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 2px;
}

.side-bar-icons:first-child {
    margin-top: 10px;
}

.side-bar-icons-unstretch {
    height: 50px;
    width: 50px;
}

#editor-area {
    width: 12.5vw;
    background-color: rgb(34, 34, 34);
}

.explorer-text {
    margin-top: 15px;
}

.editor-area-text {
    margin-left: 32px;
}

.editor-area-text-styled {
    font-weight: bold;
    margin-left: 1px;
}

.editor-area-icons {
    height: 15px;
    width: 15px;
    padding: 3px;
    margin: 0px;
    padding: 3px;
    margin-left: 10px;
}

.editor-area-styling {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    margin-bottom: 5px;
}

#secretDiv1 {
    height: 85px;
    flex-basis: 100%;
    flex-direction: column;
    margin-left: 20px;
    border-left: 1px solid rgb(189, 189, 189);
}

.less-margin {
    margin-left: 5px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.pointer {
    cursor: pointer;
}

#code-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: 84vw;
    background-color: rgb(27, 27, 27);
}

.code-header-container {
    display: flex;
    flex-direction: row;
    width: 84vw;
    background-color: rgb(34, 34, 34);
}

.code-header {
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 150px;
    align-items: center;
    color: rgb(234, 204, 146);
    background-color: rgb(44, 44, 44);
}

.code-header-focused {
    background-color: rgb(27, 27, 27);
}

.code-header-text {
    margin: 5px;
    margin-right: 2px;
    padding: 5px;
}

.code-header-img {
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.code-header-m {
    font-size: small;
    font-weight: bold;
    color: rgb(145, 128, 94);
}

u {
    text-decoration: none;
}

.c-c {
    color: rgba(63,156,203,255)
}

pre > .c-s:first-child {
    margin-left: 35px;
}

pre {
    color: rgba(63,156,203,255);
}

.c-c-2 {
    color:lightblue;
}

.c-s {
    color: grey;
}

.c-s-e {
    color: grey;
}

.n-c {
    color: white;
}

.code-terminal {
    overflow: hidden;
    color: rgb(160, 160, 160);
    font-family: monospace;
    height: 18vw;
    width: 84vw;
    border-top: 1px solid grey;
    padding-left: 20px;
}

.code-terminal-headings {
    display: flex;
    flex-direction: row;
}

.code-terminal-headings > p {
    margin: 10px 20px 15px 0px;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


